'atom-text-editor:not([mini])':
  'ctrl-d': 'editor:delete-line'
'atom-workspace atom-text-editor':
  'ctrl-e': 'editor:select-line'
'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-pageup': 'pane:show-previous-recently-used-item'
  'ctrl-pagedown': 'pane:show-next-recently-used-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab ^ctrl': 'unset!'
